::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: #202025; }

::-webkit-scrollbar-thumb {
  background: black; }

::-webkit-scrollbar-thumb:hover {
  background: black; }

button[disabled="true"] {
  opacity: 0.5;
  cursor: no-drop !important; }

.vitrine {
  max-width: 800px;
  margin: 0 auto; }
  .vitrine > ul {
    list-style: none;
    display: flex;
    margin: 0;
    flex-wrap: wrap; }
    .vitrine > ul li {
      width: 220px;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      cursor: pointer; }
      .vitrine > ul li:hover .foto .comprarProd {
        opacity: 1; }
      .vitrine > ul li .foto {
        position: relative;
        display: flex;
        justify-content: center; }
        .vitrine > ul li .foto img {
          max-width: 220px; }
        .vitrine > ul li .foto .comprarProd {
          position: absolute;
          bottom: 10px;
          background-color: black;
          color: white;
          text-align: center;
          border: 1px solid #999999;
          width: 70%;
          font-size: 12px;
          padding: 12px;
          cursor: pointer;
          opacity: 0;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
          .vitrine > ul li .foto .comprarProd:focus {
            outline: 0; }
      .vitrine > ul li .titulo {
        font-size: 14px;
        color: #313135;
        position: relative;
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: center; }
        .vitrine > ul li .titulo:before {
          content: "";
          border-bottom: 2px solid #dfbd00;
          width: 10px;
          position: absolute;
          bottom: -10px; }
      .vitrine > ul li .preco {
        color: #313135;
        font-weight: bold;
        font-size: 24px; }
        .vitrine > ul li .preco span {
          font-weight: normal; }
          .vitrine > ul li .preco span:nth-child(1) {
            margin: 0 5px 0 0;
            font-size: 12px; }
          .vitrine > ul li .preco span:nth-child(2) {
            font-size: 14px;
            font-weight: 600; }
      .vitrine > ul li .parcela {
        font-size: 12px;
        margin: 1px 0 0 0;
        color: gray; }

.cart {
  background-color: #202025;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .cart.open .contCart {
    display: block !important; }
  .cart .contCart {
    width: 450px;
    display: none; }
  .cart .btCart {
    background-color: #202025;
    position: absolute;
    font-weight: bold;
    left: -20px;
    top: 10px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer; }
  .cart h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cart h3 .bag {
      width: 40px;
      height: 50px;
      position: relative;
      margin: 0 15px 0 0;
      background-image: url("../img/sprite.png"); }
      .cart h3 .bag .numberBag {
        border-radius: 50%;
        padding: 4px;
        color: #202025;
        background-color: #dfbd00;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7px;
        height: 7px;
        position: absolute;
        bottom: 0;
        right: 0; }
  .cart .listCart {
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow: auto; }
    .cart .listCart li {
      list-style: none; }
    .cart .listCart .item:hover {
      background-color: #131316;
      cursor: pointer; }
    .cart .listCart .item .contItem {
      padding: 15px 0;
      margin: 0 15px;
      border-top: 1.5px solid black;
      width: auto;
      display: flex;
      align-items: stretch;
      position: relative; }
      .cart .listCart .item .contItem .fotoItem {
        width: 50px;
        margin: 0 20px 0 0;
        display: flex;
        align-items: center; }
        .cart .listCart .item .contItem .fotoItem img {
          max-width: 50px; }
      .cart .listCart .item .contItem .contInfo {
        width: 50%; }
        .cart .listCart .item .contItem .contInfo .name {
          color: white;
          font-size: 12px;
          text-align: left; }
        .cart .listCart .item .contItem .contInfo .size {
          color: #999999;
          font-size: 10px;
          text-align: left; }
        .cart .listCart .item .contItem .contInfo .quant {
          color: #999999;
          font-size: 10px;
          text-align: left; }
      .cart .listCart .item .contItem .price {
        font-size: 12px;
        color: #dfbd00;
        display: flex;
        align-items: flex-end;
        text-align: right;
        width: 40%;
        justify-content: flex-end; }
      .cart .listCart .item .contItem .delItem {
        position: absolute;
        background-image: url("../img/sprite.png");
        width: 20px;
        height: 20px;
        background-position: -54px -19px;
        top: 17px;
        right: 0;
        cursor: pointer; }
        .cart .listCart .item .contItem .delItem:hover {
          background-position: -74px -19px; }
  .cart .contTotal {
    padding: 20px 0;
    margin: 0 15px;
    display: flex;
    border-top: 1.5px solid black; }
    .cart .contTotal .left {
      width: 50%;
      font-size: 14px;
      text-align: left;
      color: #999999; }
    .cart .contTotal .right {
      width: 50%;
      text-align: right; }
      .cart .contTotal .right .total {
        font-size: 22px;
        color: #dfbd00; }
      .cart .contTotal .right .totalParc {
        font-size: 12px;
        color: #999999; }
  .cart .contButtton {
    padding: 15px; }
    .cart .contButtton button {
      width: 100%;
      padding: 8px;
      text-align: center;
      color: white;
      font-size: 14px;
      background-color: black;
      border: 0px;
      cursor: pointer; }
      .cart .contButtton button:focus {
        outline: 0; }
